body{
    background-image:url('../icons/hot-news/bg.png');
    color: white;
    margin-left: 30px;
    background-size: cover;
}

main {
    padding-top: 100px;
}

.sc1{
    text-align: center;
    margin-bottom: 40px;
}

.sc1 h2{
    font-family: "Changa One", sans-serif;
    word-spacing: 10px;
    letter-spacing: 35px;
    color:#031638;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 10px rgba(110, 165, 210, 0.6)) 
            drop-shadow(18px 10px 4px rgba(0, 0, 0, 0.8));
            
    margin-bottom: 10px;
    text-shadow:
        0 0 4px #ffffff,
        0 0 8px #ffffff,
        0 0 15px #0909d7,
        0 0 25px #24549c,
        0 0 40px #f30505,
        0 0 60px #da1a1a;

    filter: drop-shadow(8px 8px 5px rgba(0,0,0,.7));



}


.sc1 p{
    font-family: "Michroma", sans-serif;
    letter-spacing: 10px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    text-shadow:
        0 0 4px rgba(173, 29, 29, 0.8),  /* Pendaran putih inti */
        0 0 10px rgba(210, 18, 18, 0.6), /* Pendaran biru muda tipis */
        0 0 18px rgba(183, 56, 14, 0.4);
    line-height:1.5; 
    margin: 0; 

}

.sc2,.sc3,.sc4{
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    min-height: 250px;
    max-width: 320px; 
    margin-bottom: 20px;
}

.sc2 h3, .sc3 h3, .sc4 h3{
    color: #142d63;
}

.sc2 .date, .sc3 .date, .sc4 .date{
    color: #e5e7ef;
}

.sc2 p, .sc3 p, .sc4 p{
    color: #091d4a;
}

.sc2 a, .sc3 a, .sc4 a{
    color:#45b6f3;
    text-decoration: none;

}

.sc2:hover, .sc3:hover, .sc4:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}

.sc2 h3, .sc3 h3, .sc4 h3 {
    margin-bottom: 8px;
    font-size: 20px;
}

.date {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.imgsc1,.imgsc2,.imgsc3{
    width: 100%;
    height: auto;     
    display: block;
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.imgsc{
    display: flex;
    align-items: center;
}

.link {
    display: inline-block;
    padding: 8px 6px;
    background-color: #0c1b3c;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.link:hover {
    background-color: #1e3b78;
    transform: scale(1.03);
}

.link{
    margin-left: 200px;
}

.karakter1, .karakter2, .karakter3{
    width: 100%;
    height: auto;      
    display: block;
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
    
}

/* ========================= */
/* DARK MODE BUTTON */
/* ========================= */

.top-tools{

    text-align:center;
    margin-bottom:20px;
    margin-top: 20px;

}

#darkModeBtn{

    padding:10px 20px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    background:rgba(8, 8, 8, 0.733);
    color:white;
    transition:0.3s;

}

#darkModeBtn:hover{

    background:#101112;

}

/* ========================= */
/* FILTER */
/* ========================= */

.filter-news{

    text-align:center;
    margin-bottom:25px;

}

.filter-btn{

    padding:10px 20px;
    margin:5px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    background:#14396d;
    color:white;

}

.active-filter{

    background:#2a73d8;

}

/* ========================= */
/* BADGE NEW */
/* ========================= */

.badge-new{

    display:inline-block;
    background:red;
    color:white;
    padding:5px 5px;
    border-radius:15px;
    font-size:9px;
    

}

/* ========================= */
/* FAVORITE */
/* ========================= */

.favorite{

    margin-top:10px;
    color:white;
    cursor:pointer;
    font-weight:bold;

}

.favorite.active{

    color:red;

}

/* ========================= */
/* SHOW MORE */
/* ========================= */

.short-text{

    max-height:45px;
    overflow:hidden;

}

/* ========================= */
/* BACK TO TOP */
/* ========================= */

#topBtn{

    position:fixed;

    bottom:30px;

    right:30px;

    display:none;

    border:none;

    border-radius:50%;

    width:55px;

    height:55px;

    cursor:pointer;

    background:#1b4b93;

    color:white;

    font-size:20px;

}

#topBtn:hover{

    background:#295fb5;

}

/* ========================= */
/* DARK MODE */
/* ========================= */

.dark-mode{

    background:url('../icons/hot-news/bg-gelap.png') !important;

    color:white !important;

}

.dark-mode .sc2,
.dark-mode .sc3,
.dark-mode .sc4{

    background: black;

}

.dark-mode h3{

    color:white;

}

.dark-mode p{

    color:#ddd;

}

.extra-text{
    display:none;
    margin-top:10px;
}

.read-btn{

    margin-top:15px;
    padding:10px 18px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    background:#284b8d;
    color:white;
    font-weight:bold;
}

.read-btn:hover{

    background:#3c67bc;
}

.detail-link{

    display:none;
    margin-top:12px;
    text-decoration:none;
    color:#091274 !;
    font-weight:bold;
}

.detail-link:hover{

    text-decoration:underline;
}

/* ========================================= */
/* COMMUNITY REVIEW */
/* ========================================= */

#reviewSection{

    display:none;
    margin:30px auto;
    max-width:800px;

    padding:5px 5px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.3);

    border-radius:20px;

}

#reviewSection h2{

    text-align:center;

    color:white;

    margin-bottom:30px;

    font-family:"Michroma",sans-serif;

}

.review-container{

    display:grid;

    grid-template-columns:260px 1fr;

    gap:25px;

}

/* ========================= */
/* LEFT SIDE */
/* ========================= */

.review-left{

    background:rgba(0,0,0,.25);

    padding:20px;

    border-radius:15px;

}

.review-left h3{

    color:white;

    margin-bottom:20px;

}

#newsList{

    list-style:none;

    padding:0;

    margin:0;

}

.news-item{

    padding:14px;

    margin-bottom:12px;

    border-radius:10px;

    cursor:pointer;

    color:white;

    transition:.3s;

    background:rgba(255,255,255,.08);

}

.news-item:hover{

    background:#6587ba;

}

.news-item.active{

    background:#6d8fc6;

}

/* ========================= */
/* RIGHT SIDE */
/* ========================= */

.review-right{

    background:rgba(0,0,0,.20);

    padding:25px;

    border-radius:15px;

}

#reviewTitle{

    color:white;

    margin-bottom:20px;

}

#reviewForm{

    display:flex;

    flex-direction:column;

    gap:15px;

    margin-bottom:25px;

}

#reviewForm input,
#reviewForm textarea{

    padding:12px;

    border:none;

    border-radius:10px;

    background:white;

    font-size:15px;

}

#reviewForm textarea{

    height:120px;

    resize:none;

}

#reviewForm button{

    width:180px;

    padding:12px;

    border:none;

    border-radius:30px;

    background:#143e81;

    color:white;

    cursor:pointer;

    font-weight:bold;

}

#reviewForm button:hover{

    background:#5e91e3;

}

/* ========================= */
/* TABLE */
/* ========================= */

table{

    width:100%;

    border-collapse:collapse;

    overflow:hidden;

    border-radius:10px;

}

thead{

    background:#587cb8;

}

thead th{

    padding:10px;

    color:white;

}

tbody td{

    padding:12px;

    color:white;

    border-bottom:1px solid rgba(255,255,255,.15);

}

.delete-btn{

    background:#d92f2f;

    color:white;

    border:none;

    padding:7px 12px;

    border-radius:8px;

    cursor:pointer;

}

.delete-btn:hover{

    background:#b51f1f;

}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:900px){

.review-container{

grid-template-columns:1fr;

}

}

@media (max-width: 768px) {

    body {
        margin-left: 0;
        padding: 10px;
    }

    main {
        padding-top: 60px;
    }

    .sc1 h2 {
        font-size: 28px;
        letter-spacing: 10px;
    }

    .sc1 p {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .div {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    }

    .sc2, .sc3, .sc4 {
    max-width: 350px;
    width: 100%;
    margin: auto;
    }

    .link {
        margin-left: 0;
        display: inline-block;
        margin-top: 10px;
    }

    .imgsc1, .imgsc2, .imgsc3 {
        width: 100%;
        height: auto;
    }
}

