body {
    overflow: hidden;
    scroll-behavior: smooth;
}

.global-bg {
    position: fixed;
    inset: 0;
    background: url(../icons/resonators/background/bg-bf99565a.jpg);
    z-index: -1;
    opacity: 0.8;
}

.left-navbar {
    position: fixed;
    width: 180px;
    overflow-y: scroll;
    top: 100px;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-navbar::-webkit-scrollbar {
    display: none;
}

.left-navbar .region {
    width: 170px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.left-navbar .region:hover .logo, .left-navbar .region.active .logo {
    opacity: 1;
    border-color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), inset 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.left-navbar .region .name {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.left-navbar .region.active .name {
    opacity: 1;
}

.left-navbar .region .logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;;
}

.bottom-navbar-mobile {
    display: none;
    position: fixed;
    width: 100%;
    overflow-x: auto;
    bottom: 0;
    gap: 20px;
    height: 110px;
    padding-left: 20px;
    padding-right: 50px;
    align-items: center;
}

.bottom-navbar-mobile .region {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80px;
}

.bottom-navbar-mobile .region .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    opacity: 0.5;
}

.bottom-navbar-mobile .region:hover .logo {
    opacity: 1;
    border-color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), inset 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.bottom-navbar-mobile .region .name {
    color: white;
    font-size: 15px;
    text-align: center;
}

main {
    padding-top: 100px;
    padding-left: 170px;
    width: 100vw;
    height: 100vh;
}

section {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

section.active {
    display: flex;
}

.background-name {
    z-index: -1;
    width: 600px;
    display: flex;
    flex-direction: column;
    transform: translateY(-20%)
}

.background {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.background-name .background img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.background-name .name {
    position: relative;
    color: #ffd700;
    font-size: 45px;
    padding-left: 22.5px;
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffcc00, 0 0 20px #ff9900, 0 0 40px #ff6600, 0 0 80px rgba(255, 140, 0, 0.9);
    animation: fireText 1.5s infinite alternate;
    background: linear-gradient(to bottom, #fff8dc, #ffd700, #ff9900, #ff5500);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fireText {
    0% {
        text-shadow: 0 0 5px #ffd700, 0 0 10px #ffcc00, 0 0 20px #ff9900, 0 0 40px #ff6600;
    }
    100% {
        text-shadow: 0 0 10px #fff200, 0 0 20px #ffcc00, 0 0 40px #ff9900, 0 0 80px #ff5500, 0 0 120px rgba(255, 100, 0, 1);
    }
}

.background-name .name::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 600px;
    height: 1.5px;
    background: linear-gradient(to right, #ffcc00, #ff6a00, #ffd700);
    box-shadow: 0 0 10px rgba(255, 180, 0, 0.6);
}

.background-name .name::after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 600px;
    height: 150px;
    background: linear-gradient(to top, rgba(255, 120, 0, 0.3), rgba(255, 200, 0, 0.2), transparent);
}

.character-wrapper {
    width: 705px;
    height: 630px;
    overflow: hidden;
    transition: width 0.3s;
    position: relative;
}

.character-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    opacity: 0;
    width: 80px;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    right: 0;
    background: linear-gradient(to left, black, transparent);
}

.character-wrapper.active::after {
    opacity: 1;
}

.buttons {
    position: absolute;
    top: 90%;
    left: 76%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 45px;
    width: 670px;
    transform: translate(-50%, -50%);
}

.buttons-mobile {
    display: none;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 30px;
}

.buttons button, .buttons-mobile button {
    width: 105px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    font-size: 23px;
    font-family: monospace;
    cursor: pointer;
    color: rgba(212, 185, 106, 0.5);
    border: 1px solid rgba(212, 185, 106, 0.5);
}

.next {
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

.prev {
    display: flex;
    justify-content: start;
    padding-left: 5px;
}

.character {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
    scroll-behavior: smooth;
}

.characterList {
    width: 180px;
    height: 540px;
    position: relative;
    border: 1px solid rgba(212, 185, 106, 0.2);
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 3px;
    transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1), margin 0.3s ease, border-color 0.3s ease;
}

.characterList:hover{
    width: 270px;
    border: 1px solid #ffd700;
    background: linear-gradient(to bottom, rgba(255, 215, 0, 0.2), rgba(184, 134, 11, 0.15));
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 30px rgba(255, 200, 0, 0.6), inset 0 0 15px rgba(255, 230, 120, 0.3);
    margin: 0 0.5px;
}

.characterList::after {
    content: "";
    position: absolute;
    inset: -20%;
    background: radial-gradient(circle at 50% 100%, rgba(255, 215, 0, 0.8), rgba(255, 180, 0, 0.6), rgba(255, 140, 0, 0.4), transparent 70%);
    filter: blur(20px);
    opacity: 0;
    transition: 0.4s;
    z-index: 0;
}

.characterList:hover::after {
    opacity: 1;
    animation: goldFlame 2s infinite linear;
}

@keyframes goldFlame {
    0% {
        transform: translateY(0) scaleX(1);
    }
    50% {
        transform: translateY(-10px) scaleX(1.2);
    }
    100% {
        transform: translateY(0) scaleX(1);
    }
}

.characterList::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
    transition: 0.5s;
}

.characterList:hover::before {
    left: 100%;
}

.characterList img {
    position: absolute;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    width: 270px;
}

.characterList:hover img {
    opacity: 1;
}

.characterList p {
    display: none;
    opacity: 0;
    font-size: 26px;
    transition: opacity 0.3s ease;
    font-weight: bold;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -1px -1px 0 #000;
    width: 285px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.characterList:hover p {
    display: flex;
    opacity: 1;
    color: white;
}

@media (max-width: 768px) {

    .header {
        height: 60px;
    }

    .left-navbar {
        display: none;
    }

    /* .resonators-main {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 110px;
    } */

    .bottom-navbar-mobile {
        display: flex;
    }

    .background-name {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .background-name .name {
        padding-left: 0;
    }

    .background {
        margin-bottom: -50px;
    }

    .background-name .name::before {
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s;
    }

    .background-name .name::after {
        display: none;
    }

    .character-wrapper {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
    }

    .character {
        padding-right: 0;
        justify-content: center;
    }

    .character:has(.characterList:nth-child(4)) {
        justify-content: flex-start;
    }

    .character-wrapper::after {
        display: none;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    
    .bottom-navbar-mobile {
        gap: 18px;
        height: 100px;
        padding-left: 18px;
        padding-right: 45px;
    }

    .bottom-navbar-mobile .region {
        height: 55px;
        width: 70px;
    }

    .bottom-navbar-mobile .region .logo {
        width: 45px;
        height: 45px;
    }

    .bottom-navbar-mobile .region .name {
        font-size: 12px;
    }

    .background {
        margin-bottom: -50px;
    }

    .background-name .name {
        font-size: 25px;
    }

    .background-name .name::before {
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
    }

    .character-wrapper {
        width: 300px;
    }

    .characterList:hover {
        width: 170px;   
    }

    
    .characterList img {
        width: 170px;
    }

    .buttons-mobile {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .character:has(.characterList:nth-child(3)) {
        justify-content: flex-start;
    }
}

/* @media (min-width: 1300px) {
    .scale-wrapper {
        transform: scale(1.5);
    }
} */